
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/Inter-Variable.woff2') format('woff2');
  }

  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
  }

  * {
    border-color: theme('colors.border');
  }

  body {
    @apply bg-navy text-light antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}
